@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@300;400;500;600;700&display=swap');

/* VARIABLES CSS */
:root{
    --header-height: 5rem;

    /* COLORS */
    --first-color:hsl(350,98%,64%);
    --title-color:white;
    --text-color:hsl(0,0%,77%);
    --body-color:hsl(0,0%,6%);
    --container-color:hsl(0,0%,10%);
    --border-color:hsla(0,0%,100%,0.2);

    /* FONTS */
    --body-font:'Poppins',sans-serif;
    --second-font:'Montserrat',sans-serif;
     
    --big-font-size:4.5rem;
    --h1-font-size:3.75rem;
    --h2-font-size:1.75rem;
    --h3-font-size:1.5rem;
    --medium-font-size:3rem;
    --normal-font-size:1.125rem;
    --small-font-size:1rem;
    --smaller-font-size:0.875rem;

    --weight-300:300;
    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;
    --weight-900:900;

    --transition:cubic-bezier(0.05,0.2,0.1,1);

    --radius:0.5rem;

    /* z index */
    --z-tooltip:10;
    --z-fixed:100;
}

@media screen and (max-width:992px) {
    
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}

input,textarea,body{
    color:var(--text-color);
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
    font-weight:var(--weight-300);
}
body{
    background-color: var(--body-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height:1.67em;
}
img{
    max-width:100%;
}
textarea,input{
    background-color: transparent;
    border:none;
    outline:none;
}
.container{
    max-width:1260px;
    margin-inline:auto;
    padding-inline:0.75rem;
}
.grid{
    display:grid;
}
.section{
    padding-block: 8rem;
}
.section__title{
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}
.section__title:not(.about__section .section__title, .contact .section__title),.section__description{
    text-align: center;
}
.section__description{
    max-width: 600px;
    margin-inline:auto;
    margin-bottom:3.75rem;
}

.home{
    padding-block: 12rem 9rem;
    margin:auto;
}
.home__container{
    grid-template-columns: 7fr 5fr;
    align-items: center;
}
.home__content{
    margin-left:50px;
}
.home__subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    letter-spacing:0.25rem;
    margin-bottom:1.25rem;
    display:block;
}
.home__title{
    font-family: var(--second-font);
    font-size:var(--medium-font-size);
    font-weight:var(--weight-00);
}
.home__title span{
    color:var(--first-color);
}
.home__img{
    width: 450px;
    height: 480px;
    border-radius: 50%;
    border:0.75rem solid var(--container-color);
    margin-left:auto;
    margin-right: 80px;;
}

.about{
    background-color: var(--container-color);
}
.about__container{
    grid-template-columns: 5fr 7fr;
    align-items: center;
    column-gap: 4rem;
}
.about__img{
    border-radius: var(--radius);
    height:690px;
    margin-left: 50px;
    margin-top:150px;
    margin-bottom:100px;
    border:0.75rem solid var(--container-color);
}
.about__description{
    margin-bottom: 2rem;
}
.tabs__btns{
    display:flex;
    column-gap:4rem;
    margin-bottom:1.25rem;
}
.tabs__btn,
.tabs__description span:first-child{
    font-weight: var(--weight-500);
}

.tabs__btn{
    cursor:pointer;
    color: var(--title-color);
   position: relative;
    padding-bottom: 0.5rem;
}
.tabs__btn::after{
    content:'';
    position: absolute;
    left: 0;
    bottom:0;
    width:30%;
    height:2px;
    background-color:var(--text-color);
    transition: all 0.3s var(--transition);
}

.tabs__data{
    row-gap: 1rem;
}
.tabs__description span:last-child{
    display:block;
}
.tabs__btn.tab__active{
    color:var(--first-color);
}
.tabs__btn.tab__active::after{
    background-color: var(--first-color);
    width:100%;
}
.tabs__item[data-content]{
    display:none;
}
.tab__active[data-content]{
    display:block
}

.projects__container{
    height:700px;
    display:flex;
    justify-content: space-evenly;

    margin-left:10%;
    margin-right:10%;
    
}
.projects__items{
    background-color: var(--container-color);
    padding:3.5rem 2.5rem;
    margin: 20px;
    
    border-radius:var(--radius);
}
.project__icon{
    color:var(--first-color);
    font-size:3.25rem;
}
.projects__title{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-500);
    margin-block:1.75rem 1.25rem;
}
#lib{
    height:150px;
}
#cric{
    width:400px;
    height:150px;
}
#amaz{
    height:150px;

}
#first1{
    font-weight: var(--weight-700);
}
#first2{
    font-weight: var(--weight-700);
}
#pl{
    text-align: center;
    margin-bottom: 20px;
    color:var(--first-color);
}
.skills__section{

    padding:3.5rem 2.5rem;
    margin: 20px;
    margin-top:100px;
    border-radius:var(--radius);
}
.skills_img{
    width:100px;
    height:100px;
    border-radius:50%;
}

.programming__data{
    inset-inline:2rem;
    bottom:1.25rem;
    text-align: center;
}
.skills__title,.skill__description{
    color:var(--title-color);
    opacity:0.7;
}
.skills__title{
    font-size: var(--h2-font-size);
    font-weight: var(--weight-600);
    margin-bottom:0.75rem;
}
.contact_container{
    position: center;
}
.contact__container{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 2rem;
    margin-top:150px;
}
#submitbtn{
    margin-left:350px;
}
.contact__description,.contact__input{
    font-weight: var(--weight-400);
}
.contact__description{
    margin-bottom:3rem;
}
.contact__form{
    position: relative;
}
.contact__description a{
    color:var(--title-color);
    font-weight: var(--weight-500);
}
.contact__input{
    border:2px solid var(--border-color);
    padding: 0.8rem 1.25rem;
    width:100%;
    border-radius:var(--radius);
    margin-bottom:1.25rem;
}
#contacttitle{
    padding-bottom: 20px;
    border-bottom:1px solid white; 
}
.textarea{
    height:120px;
    resize:none;
}
.error__message{
    position: absolute;
    bottom:-12;
    left:0;
    margin-left: 530px;
    margin-top:30px;
    color:var(--text-color);
    font-size:var(--small-font-size);
    font-weight:var(--weight-400);
}
.btn{
    display:inline;
    color:var(--title-color);
    background-color: var(--first-color);
    border:2px solid var(--first-color);
    padding: 1rem 2.5rem;
    border-radius: var(--radius);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    letter-spacing: 2px;
    cursor:pointer;
    transition:all 0.3s var(--transition);
}
.btn:hover{
    background-color: transparent;
    color:var(--first-color);
}
.color-first{
    color:var(--first-color);
}

.footer{
    background-color: var(--container-color);
    padding-block:2rem;
    margin-top: 100px;
}
.footer__container{
    grid-template-columns:repeat(3,1fr);
    align-items:center;
}
.footer__logo{
    color:var(--title-color);
    font-size:2.5rem;
    font-weight:var(--weight-700);
}
.footer__logo span{
    color:var(--first-color);
}
.footer__socials{
    display:flex;
    justify-content: center;
    column-gap: 0.75rem;
}
.footer__social-link{
    color:var(--text-color);
    font-size:var(--small-font-size);
    border:2px solid var(--text-color);
    width:46px;
    height:46px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.3s var(--transition);;
}
.footer__social-link:hover{
    background-color: var(--first-color);
    border-color:var(--first-color);
}
.footer__copyright{
    font-size:var(--small-font-size);
    font-weight:var(--weight-400);
    justify-self:flex-end;
}

.scrollup{
    position:fixed;
    right:1rem;
    bottom:3rem;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: var(--title-color);
    display:grid;
    place-items:center;
    z-index: var(--z-fixed);
    transition: all 0.4s var(--transition);
}
.scrollup__icon{
    color:var(--first-color);
    font-size:1.5rem;
    line-height: 1;
}
.show-scroll{
    bottom: 3rem;
}
.header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index: var(--z-fixed);
}
.nav,.nav__list,.nav__socials{
    display:flex;
}
.nav{
    height:calc(var(--header-height) + 1.5rem);
    align-items: center;
    justify-content:space-between;
    column-gap:3.5rem;
}
.nav__logo{
    color:var(--title-color);
    font-size: 2.3rem;
    font-weight: var(--weight-700);
}
.nav__logo span{
    color:var(--first-color);
}
.nav__list{
    column-gap: 2rem;
}
.nav__toggle,.nav__close{
    display:none;
}

.nav__link,.nav__social-link{
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--weight-500);
    transition:all 0.3s var(--transition);
}
.nav__socials{
    column-gap: 1.5rem;
    margin-left: auto;
}
.nav__social-link:hover{
    color:var(--first-color);
    transform:translateY(-0.25rem);
}
.nav__link-btn{
    font-size: var(--smaller-font-size);
    background-color: transparent;
    border-color:var(--border-color);
    padding:0.625rem 1.25rem;
}
.nav__link-btn:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
    color:var(--title-color);
}
.active-link,.nav__link:hover{
    color:var(--first-color);
}
.scroll-header{
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 10px hsla(0,0%,0%,0.25);
    animation: slide-down 0.7s;
}
@keyframes slide-down{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY(0);
    }
}
.programming{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.webdev{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills__subtitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;;
    margin-top:60px;
    margin-bottom:40px;
    text-decoration: underline solid grey;
}
.cpp{
    border: 20px solid var(--container-color);
}
.cpp:hover{
    background-color: var(--first-color);
    opacity:0.3;
    transition: 0.5s ease;
}
.java{
    border: 20px solid var(--container-color);
}
.java:hover{
    background-color: var(--first-color);
    transition: 0.5s ease;
    opacity:0.3;
}
.python{
    border: 20px solid var(--container-color);
}
.python:hover{
    background-color: var(--first-color);
    transition: 0.5s ease;
    opacity:0.3;
}
.programming img{
    height:250px;
    width:250px;
    align-content: center;
    display:block;
    background-color: var(--container-color);
}
.webdev img{
    height:250px;
    width:250px;
    align-content: center;
    display:block;
    background-color: var(--container-color);
    padding:1.2rem;
}
.webdev{
    display:flex;
    justify-content: center;
}
.html5{
    border: 20px solid var(--container-color);
}
.html5:hover{
    background-color: var(--first-color);
    opacity:0.3;
    transition: 0.5s ease;
}
.css{
    border: 20px solid var(--container-color);
}
.css:hover{
    background-color: var(--first-color);
    transition: 0.5s ease;
    opacity:0.3;
}
.jscript{
    border: 20px solid var(--container-color);
}
.jscript:hover{
    background-color: var(--first-color);
    transition: 0.5s ease;
    opacity:0.3;
}
.reactjs{
    border: 20px solid var(--container-color);
}
.reactjs:hover{
    background-color: var(--first-color);
    transition: 0.5s ease;
    opacity:0.3;
}
.followme{
    color:var(--first-color);
}
#xyzz{
    color: var(--first-color);
}
